body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #333;
}
$light: #3E891F;
$dark: #104A52;

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #337ab7;
    transition: 0.4s;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', sans-serif;
    color: $light;
}

h4 {
    font-size: 22px;
}

p{
    margin: 0;
}

img {
    max-width: 100%;
}

.flex__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex__wrap.sb {
    justify-content: space-between;
}

section{

    padding: 80px 0;
}

.button{
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $dark;
    font-family: 'Lato', sans-serif;

    &::before{

        content: '';
        position: absolute;
        bottom: -4px;
        height: 1px;
        background: $dark;
        width: 100%;
        right: 0;
        transition: width ease .25s;
    }

    &::after{

        content: '';
        position: absolute;
        bottom: -4px;
        height: 1px;
        background: $dark;
        width: 0%;
        left: 0;
        transition: width ease .25s;
    }

    &:hover{

        &::before{

            width: 0;
        }

        &::after{

            width: 100%;
            transition-delay: .4s;
        }
    }
}

.uk-overlay-default {
    background: #0e231acc;
}

.uk-breadcrumb>:last-child>a:not([href]), .uk-breadcrumb>:last-child>span {
    color: #fff;
}
.uk-breadcrumb>*>* {
    font-size: 16px;
    color: #dcdcdc;
}

.uk-lightbox {
    background: #000000de;
}

h1.pagetitle {
    font-size: 64px;
    line-height: 1.4;
    margin-bottom: 32px;
}

.page__intro p{
    margin-bottom: 16px;

    &:last-of-type{
        margin-bottom: 0;
    }
}
  
header{
    background-color: #fff;
    
    .uk-navbar{
        padding: 2px 0;
    }

    .cropped {
        display: none;
        transition: 0.4s ease;
    }

    &.uk-active{

        .full {
            display: none;
            transition: 0.4s ease;
        }

        .cropped {
            display: block;
            transition: 0.4s ease;
        }
    }
}

.home__slider{
    position: relative;

    .home__slidertext{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        // left: 160px;
        width: 800px;
        z-index: 1;
        color: #fff;

        h1{
            
            font-size: 88px;
            font-weight: 700;
            line-height: 1.24;
            color: #fff;
            margin-bottom: 48px;
        }

        p{
            font-size: 20px;
            font-weight: 300;
        }
    }

}

.homeSwiper{
    height: calc(100vh - 84px);

    .swiper-wrapper{

        &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: #00000077;
        }
    }

    .swiper-button-next {
        right: 50px;
        width: 80px;
        height: 80px;
        color: #33333361;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        transition: all .4s;
        display: flex;
        top: auto;
        bottom: 50px;
        left: auto;

        &::after {
            content: none;
        }

        i{
            
            font-size: 18px;
            transition: all .4s;
        }

        &:hover{

            background-color: transparent;
            color: #fff;
        }
    }

    .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        
        right: 150px;
        left: auto;
        top: auto;
        bottom: 80px;
    }

    .swiper-pagination{

        .swiper-pagination-bullet{
            
            width: 10px;
            height: 10px;
            transition: background-color .1s, color .1s;
        }

    }
    
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet.swiper-pagination-bullet-active {
        transform: scale(1);
        opacity: 1;
    }
    
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
        transform: scale(.88);
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
        transform: scale(.66);
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
        transform: scale(.66);
        opacity: 0.8;
        background-color: #ffffff;
    }
}

.service__tab{

    .servicetab__wrap{
        background-color: $dark;
        padding: 40px;
        border-radius: 10px;
        margin-bottom: 64px ;
        
        li {
            padding: 2px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-transform: uppercase;
            text-align: center;
            border-right: 1px solid #fff;

            a{
                
                color: #fff;
                transition: all 0.3s;
                font-weight: 800;
            }

            &:hover a{
                color: $light;
            }

            &:last-child {
                border: none;
            }
        }
    }

    .uk-switcher{

        img{
            border-radius: 10px;
            height: 324px;
            width: 100%;
            object-fit: cover;
        }

        .servicetab__desc{
            max-height: 212px;
            overflow: hidden;
            text-overflow: ellipsis;

            p{
                margin-bottom: 16px;
            }
        }

        .button{
            margin-top: 20px;
            display: inline-block;
        }
    }
}


.homeform{

    padding-top: 64px ;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 49%, #104a52 50%, #104a52 100%);
    
    form{

        box-shadow: #104a5236 0px 8px 24px;
        background-color: #fff;
        padding: 40px;
    }
}

form{

    input, select, textarea{
        
        width: 96%;
        font-size: 14px;
        height: 56px;
        margin-bottom: 24px;
        padding: 8px 16px;
        border-width: 1px;
        border-color: transparent transparent #104a5236;
        font-family: inherit;

        &::placeholder{
            color: #333333;
        }

        &:focus-visible {

            border-bottom-color: #104A52;
            outline: 0;

            &::placeholder {
                color: transparent !important;
            }
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    select{

        height: 73.6px;
        width: calc(96% + 34px);
        padding: 8px 14px;
    }

    textarea{
        
        height: 40px;
        padding-top: 24px;
    }

    button{
        border: 0;
        background-color: transparent;
        margin-top: 32px;
    }
}


.testimonials__sec{

    background-color: #104951;
    position: relative;
    padding-top: 120px;

    .rev__info{

        color: #fff;
        font-size: 18px;

        h2{
            color: #fff;
            font-size: 48px;
            margin-bottom: 24px;
        }

        p{
            font-weight: 300;
        }
    }

    .testimonials{

        .swiper-slide{

            width: 464px;
        }

        .testimonials-text-wrapper {
            height: 320px;
            background-color: #f6f3ee;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
            display: flex;
            background-color: #ffffff1a;
            color: #fff;

            p{
                font-size: 19px;
                line-height: 1.5em;
            }

            .testimonials-slider-author {
                align-items: center;
                margin-top: 50px;
                display: flex;

                p{
                    line-height: 1;
                }

                img {
                    width: 68px;
                    height: 68px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 15px;
                    display: block;
                }
            }
        }
    } 

    .swiper-button-prev {
        left: 180px;
        width: 80px;
        height: 80px;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        transition: all .4s;
        display: flex;
        top: auto;
        bottom: 80px;

        &::after {
            content: none;
        }

        i{
            
            font-size: 18px;
            transition: all .4s;
        }

        &:hover{

            background-color: #fff;
            color: #333333;

            .swiper-button-disabled{
                color: #333333bf;
            }
        }
            
    }

    .swiper-button-next {
        left: 280px;
        width: 80px;
        height: 80px;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        transition: all .4s;
        display: flex;
        top: auto;
        bottom: 80px;

        &::after {
            content: none;
        }

        i{
            
            font-size: 18px;
            transition: all .4s;
        }

        &:hover{
          
            color: #333333;
            background-color: #fff;
            
            .swiper-button-disabled{
                color: #333333bf;
            }

        }
    }

    .swiper-button-disabled{
        color: #ffffff7a;
    }
}

.blog__wrap{

    .blog{
        
        height: 360px;
        overflow: hidden;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .uk-overlay{
            top: 70%;
            padding: 26px;
            transition: 0.6s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #ffffffa3;

            h5{
                height: 56px;
                font-size: 20px;
                overflow: hidden;
            }

            p{
                display: -webkit-box;
                max-width: 100%;
                height: 136px;
                line-height: 1.7;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &:hover{
            
            .uk-overlay{

                top: 0%;
                height: 308px;

            }
        }
    }
}

footer{
    background-color: #accacd;
    padding: 80px 0 48px;
    color: #104951;

    .footer__wrap{
        margin-top: 104px;
    }

    h2{
        color: #104951;
        text-transform: uppercase;
        font-size: 3rem;
        margin-bottom: 36px;
    }

    .col{
        margin-bottom: 56px;

        // &:last-of-type{
        //     margin-bottom: 0;
        // }

        .uk-flex li{
            margin-right: 16px;

            span{
                
                border: 1px solid #10402c;
                border-radius: 50px;
                padding: 8px;
            }
        }

        li{
            margin-bottom: 10px;

            &:last-of-type{
                margin-bottom: 0;
            }
        }

        a{
            color: #104951;
            &:hover{
                color: #fff;
            }
        }

        img{
            width: 200px;
        }
    }

    .form{
        margin-top: 104px;

        form{
            
            margin-top: 48px;

            input{

                background-color: transparent;
                height: 24px;
                padding: 8px 0;

                &::placeholder{

                    color: #104951;
                    font-weight: 500;
                }
            }
        }

        h6{

            color: #104951;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 14px;
        }
    }

    button{
        border: 0;
        background-color: transparent;
    }

    .footer__bottom{

        span{

            font-size: 14px;
        }
    }
}

.page__intro{
    padding: 96px 0 24px;  

    p{
        text-align: center;
        font-size: 18px;
    }
}

.page{

    h2{
        padding-top: 24px;
    }
    p{
        margin-bottom: 12px;
    }
}

.results{

    .uk-position-cover {
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease-out;

        svg{

            width: 32px;
            height: 32px;
            color: #fff;
        }
    }

    .post:hover .uk-position-cover {
        opacity: 1;
        visibility: visible;
    }
}

.post{
        
    margin-bottom: 48px;

    img, iframe {
        
        width: 100%;
        height: 320px;
        object-fit: cover;
    }
    .about__post{
            
        padding: 24px 20px;
        background-color: #ebf5f6;
        transition: 0.4s;

        h5{
            
            font-size: 20px;
            line-height: 1.5;
            margin-bottom: 0;
        }

        p {
            display: -webkit-box;
            max-width: 100%;
            height: 80px;
            line-height: 1.7;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 16px 0;
        }

        &:hover{
            box-shadow: 0 0 8px #104a5287;
            
        }
    }

}